@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@700;900&family=Poppins&family=Roboto&display=swap");

.app-wrapper {
  background-color: #557153;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 10px;
}

.app-wrapper p:first-child {
  margin: 12px;
  font-size: 20px;
  z-index: 99;
  color: #fff;
}
